// Variables
$primary: #3488fa;
$white: #ffffff;

$grey-10: #f4f7fa;
$grey-40: #b9c3d5;
$grey-90: #222222;
$grey-80: #818b9d;

$fw-300: 300;
$fw-400: 400;
$fw-700: 700;

$icon-color: #222B45; 

$family: "Source Sans Pro";


